.loginBack {
    height: 100vh;
    background-image: url(/public/2.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    height: 100vh;
    display: grid;
    place-content: center;
    backdrop-filter: blur(3px);
}

.pokedex {
    position: relative;
    height: 525px;
    width: 350px;
    background-image: url(/public/pokedex.jpg);
    border-radius: 13px;
    animation: scale 2s ease-out;
}

.pokedex > span {
    position: absolute;
    height: 49px;
    width: 49px;
    top: 14px;
    left: 37px;
    border-radius: 50%;
}

.loading {
    border: transparent;
    animation: shine 0.5s infinite;
}

.pokedex > figure {
    position: absolute;
    height: 50px;
    width: 178px;
    background-color: #FF3334;
    background-image: url(/public/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 31px;
    right: 5px;
    border-radius: 15px;
}

.pokedex > p {
    margin-top: 120px;
    padding: 0 40px;
    text-align: center;
}

.pokedex > img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 190px;
    left: 99px;
    animation: scale 2s ease-out 0.5s backwards;
}

.pokedex > h6 {
    position: absolute;
    top: 353px;
    width: 350px;
    text-align: center;
}

.pokedex > input {
    position: absolute;
    bottom: 110px;
    left: 24px;
    width: 304px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 22px;
    width: 308px;
    height: 87px;
    background-color: #636262;
    border-radius: 10px;
}

.controls > p {
    font-size: 10px;
    margin-top: 5px;
    padding: 0 50px;
    text-align: center;
    animation: scale 2s ease-out 0.5s backwards;
}

.controls > button {
    position: absolute;
    top: 58px;
    left: 109px;
    padding: 5px;
    height: 26px;
    border-radius: 15px;
}


@keyframes scale {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}

@keyframes shine {
    from {
        background-color: black;
    } to {
        background-color: transparent;
    }
}



