.pokedexBack > header {
    display: grid;
    place-items: center;
    height: 10vh;
    background-color: brown;
    border-bottom: 15px solid;
    text-align: center;
}

.pokedexBack > header > span {
    display: inline;
}

.pokedexBack > div {
    position: absolute;
    display: grid;
    place-items: center;
    width: 8vh;
    height: 8vh;
    background-color: white;
    border: 15px solid;
    top: 5vh;
    right: 3.5vh;
    border-radius: 50%;
    z-index: 1;
}

.pokedexBack > main {
    height: 85vh;
    display: flex;
    overflow-y: auto;
}

.pokemonList {
    width: 100%;
    display: grid;
    padding: 1rem;
    place-items: center;
    grid-template-columns: repeat( auto-fit, minmax( 8rem, 1fr ));
    gap: 1rem;
    overflow-x: hidden;
}

.pokedexBack > footer {
    display: grid;
    place-items: center;
    height: 5vh;
    background-color: brown;
    color: white;
}

.pokedexBack > footer > div {
    display: flex;
    align-items: center;
    gap: 2rem;
}